//@import 'D:/PRG/JS/arifmeticalino/node_modules/bootstrap/dist/css/bootstrap.min.css'; 

#settings {
    float: left;
    padding: 1rem;
}
#settings .control-label {
    text-align: left;
}
#settings .form-group {
    margin-bottom: .25rem;
}
#settings .form-control[type="number"] {
    width: 5rem;
    padding-right: 2px;
}

#statistics {
    float: right;
}

#progress {
    
}

